<!-- <h1>{{title}}</h1>
<nav>
  <ul>
    <li>
      <a routerLink='/slider'>Slider</a>
    </li>
    <li>
      <a routerLink='/products'>Products</a>
    </li>
    <li>
      <a routerLink='/chips'>Chips</a>
    </li>
    <li>
      <a routerLink='/grid'>Grid</a>
    </li>
    <li>
      <a routerLink='/form'>Form</a>
    </li>
    <li>
      <a routerLink='/flex'>Flex</a>
    </li>
    <li>
      <a routerLink='/signup'>Signup</a>
    </li>
    <li>
      <a routerLink='/login'>Login</a>
    </li>
  </ul>
</nav>
<div style="margin: 20px;">
<router-outlet></router-outlet>
</div> -->
<!-- <app-side-nav></app-side-nav> -->
<app-nav></app-nav>