<!-- <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">
      {{tile.text}}
    </mat-grid-tile>
  </mat-grid-list>
   -->

<mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile [colspan]="3" [rowspan]="1">1
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2">2
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">3
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">4
    </mat-grid-tile>
</mat-grid-list>
<br>
<mat-grid-list cols="4" rowHeight="100px">
   <mat-grid-tile [colspan] ="4" [rowspan] = "1">
    One
   </mat-grid-tile>
   <mat-grid-tile [colspan] ="3" [rowspan] = "1">
    Two
   </mat-grid-tile>
   <mat-grid-tile [colspan] ="1" [rowspan] = "1">
    Three
   </mat-grid-tile>
</mat-grid-list> 
<div fxLayout="row" fxLayoutAlign="space-between">
</div>